.kk body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  width: 100%;
}
.kk ul, ol {
  list-style: none inside;
  margin: 0;
  padding: 0;
}
.kk h1 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.kk a, a:visited {
  text-decoration: none;
}
.kk .sidebar {
  width: 300px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
}
.kk .sidebar__sections {
  background-color: white;
  width: 100px;
  position: fixed;
  height: 100%;
}
.kk .sidebar_sections ul li a, .sidebar_sections ul li a:visited {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.4s;
  font-size: 12px;
  color: #1b2327;
}
.kk .sidebar__sections ul li a:hover {
  background-color: #e7e7e7;
}
.kk .sidebar__sections .icon {
  margin-bottom: 0.5rem;
}
.kk .sidebar__subsections {
  margin-left: 100px;
}
.kk .sidebar__subsections-brand {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #e7e7e7;
}
.kk .sidebar__subsections ul {
  padding-top: 30px;
}
.kk .sidebar_subsections ul li a, .sidebar_subsections ul li a:visited {
  color: #e7e7e7;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  transition: all 0.4s;
  position: relative;
}
.kk .sidebar__subsections ul li a:hover {
  padding: 15px 30px 15px 35px;
}
.kk .page {
  margin-left: 300px;
  background-color: #f7f7f7;
}
.kk .header {
  height: 100px;
  background-color: #1c2e36;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  color: #e7e7e7;
}
.kk .header__search input[type="text"] {
  border-radius: 50px;
  background-color: rgba(231, 231, 231, .1);
  font-size: 14px;
  border: 0;
  padding: 10px 20px;
  transition: all 0.4s;
  color: #e7e7e7;
}
.kk .header__search input[type="text"]:focus {
  outline: none;
  background-color: rgba(231, 231, 231, .2);
}
.kk .header__date {
  margin-left: auto;
  margin-right: 30px;
}
.kk .header__user {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.kk .header__user .icon {
  color: #e7e7e7;
  font-size: 20px;
  margin-left: 10px;
}
.kk .content .title {
  height: 100px;
  background-color: #1c2e36;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  color: #e7e7e7;
  z-index: 99;
}
.kk .content .title__extras {
  display: flex;
  align-items: center;
}
.kk .content .title__extras .icon {
  margin-right: 10px;
  color: #e7e7e7;
}
.kk .content__main {
  padding: 30px;
  padding-top: 0px;
  position: relative;
  display: flex;
}
.kk .content__main-page {
  width: 100%;
  margin-right: 300px;
}
.kk .content__main-sidebar {
  width: 270px;
  position: absolute;
  top: 30px;
  right: 30px;
}
.kk .box {
  background-color: white;
  padding: 30px;
  transition: all 0.4s;
}
.kk .box:hover {
  box-shadow: 0 10px 30px rgba(27, 35, 39, .05);
}
.kk .box h5 {
  margin-right: auto;
  font-weight: 600;
}
.kk .box a, .box a:visited {
  color: #1b2327;
  margin-left: 5px;
}
.kk .box__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 10px;
}
.kk .box__line:not(:last-child) {
  margin-bottom: 30px;
}
.kk .box .published {
  background-color: #22c064;
  padding: 5px 10px;
  border-radius: 20px;
  color: #e7e7e7 !important;
}
/* Form elements */
.kk .field__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.kk .field__group:not(:last-of-type) {
  margin-bottom: 15px;
}
.kk .field_group input[type="text"], .field_group textarea {
  width: 100%;
  display: inline-block;
  font-size: 18px;
  padding: 10px 10px;
  border: 1px solid #e7e7e7;
}
.kk .field_group input[type="text"]:focus, .field_group textarea:focus {
  outline: none;
}
.kk .field__group label {
  width: 100px;
  display: inline-block;
  flex-shrink: 0;
}
.kk .field__group .imagedrop {
  background-color: #e7e7e7;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  cursor: pointer;
}
.kk .field__group .imagedrop .icon {
  margin-bottom: 10px;
  font-size: 60px;
}
/* UI */
.kk .button {
  border: 0;
  background-color: #1b2327;
  width: 100%;
  color: #e7e7e7;
  height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s;
}
.kk .button:hover {
  background-color: #1c2e36;
}
.kk .sticky {
  position: fixed;
  top: 0;
  left: 300px;
  right: 0;
}
.kk .sticky + .content__main {
  margin-top: 100px;
}
.kk .stickyside {
  position: fixed;
  top: 130px;
  right: 30px;
}
/* Icons */
.kk .lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}
.kk form{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  border: #242424;
}
.kk .icon {
  color: #242424;
  font-size:30px;
}